.control-panel {
  background-color: #aaa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  width: 15rem;
}

.control-panel .statistics .header {
  margin-top: 1rem;
}

.control-panel .header {
  border-bottom: 1px solid #777;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.control-panel .header .title {
  font-size: 1.25rem;
}

.control-panel .header .specification {
  color: #555;
  font-size: 1rem;
}

.control-panel .line {
  display: flex;
  justify-content: space-between;
}

.control-panel .actions .multiple-buttons {
  display: flex;
  justify-content: stretch;
}

.control-panel .multi-value {
  display: flex;
  justify-content: space-between;
}

.control-panel .multi-value label {
  text-align: left;
  width: 5rem;
}

.control-panel .multi-value-selector {
  color: #777;
  cursor: pointer;
  flex: 1;
}

.control-panel .multi-value-selector:hover {
  color: red;
}

.control-panel .multi-value-selector.active {
  color: #a00;
}

.control-panel .slideup-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.control-panel .slideup-wrapper .button {
  margin-top: 0;
}

.control-panel .popup-content {
  background-color: #ddd;
  border: 1px solid #555;
  border-bottom: none;
  display: none;
  padding: 0.5rem;
  margin: 0 0.125rem;
  flex-direction: column;
}

.control-panel .popup-content.visible {
  display: flex;
}

.control-panel .popup-item {
  cursor: pointer;
  padding: 0.5rem;
}

.control-panel .popup-item:hover {
  background-color: #ccc;
}