.game {
  background-color: #f0f0f0;
  display: flex;
  justify-content: stretch;
  width: 100vw;
  height: 100vh;
}

.button {
  background-color: #d2d2d2;
  border: 1px solid #777;
  border-radius: 0.25rem;
  cursor: pointer;
  flex: 1;
  text-align: center;
}