.game {
  background-color: #e0e0e0;
  display: flex;
  justify-content: stretch;
  width: 100vw;
  height: 100vh;
}

.button {
  background-color: #d2d2d2;
  border: 1px solid #777;
  border-radius: 0.25rem;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  cursor: pointer;
  flex: 1;
  height: 2rem;
  line-height: 2rem;
  margin: 0.125rem;
  text-align: center;
  user-select: none;
}

.button:active {
  background-color: #c0c0c0;
  box-shadow: none;
}

.button.big {
  margin-top: 0.5rem;
  height: 3rem;
  line-height: 3rem;
  padding-top: auto;
  padding-bottom: auto;
}

.button.disabled {
  background-color: #bbb;
  box-shadow: none;
  cursor: not-allowed;
}